body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #e6f7fa 0%, #fafdff 100%);
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #2533a8 0%, #4169e1 100%);
  padding: 16px 0 16px 0;
  box-shadow: 0 8px 24px rgba(10, 15, 13, 0.12);
}

.LaveBemLogo {
  height: 80px;
  width: 100px;
  object-fit: contain;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(65, 105, 225, 0.1);
  padding: 8px;
}

/* From Uiverse.io by NelsonDJCR */
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 90%;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #3f6d39;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

h1 {
  color: #4169e1;
  margin-top: 16px;
}

h4 {
  color: #2533a8;
  margin-bottom: 24px;
}
h6 {
  color: #8c96a0;
  margin-bottom: 5px;
}

.sobre-nos-card {
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 32px auto 24px auto;
  padding: 32px 24px;
  text-align: left;
}

.sobre-nos-card h2 {
  color: #009087;
  margin-top: 0;
}

.sobre-nos-card p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}
